---
import '../../styles/global.css';
import Layout from "../../layouts/Layout.astro";
import NavMenu from "../../components/NavMenu.astro";
import Header from '../../components/Header.astro';
import H1 from "../../components/H1.astro";
import H2 from "../../components/H2.astro";
import Link from "../../components/Link.astro";
import RuleBodyContent from "../../components/RuleBodyContent.astro";
import { getAllBookRuleData } from "../../utils";

import { schoolBookGroups } from "../../data/content";

export async function getStaticPaths() {
  const path = Object.values(schoolBookGroups.dg).filter((meta) =>
    meta.path.endsWith("kd")
  )[0].path;

  const rulePages = await getAllBookRuleData({
    rulePath: path,
  });

  return rulePages.map((rule) => {
    const { file, ...rest } = rule;

    return {
      params: { kd: file.toLowerCase() },
      props: { ...rest, rulePath: path },
    };
  });
}

const { school, book, body } = Astro.props;
const pageHeader = book;
const breadCrumbs = school;
---

<Layout
  title={school + " · " + book}
  prefixedDescription={`the ${school} ${book}`}
>
<NavMenu/>
  <main>
    <article>        
        <Header  pageHeader={pageHeader} breadCrumbsList={breadCrumbs}></Header>


      {
        body.map((section) => {
          const { h2, en, en_grouping_info, en_verse } = section;
          return (
            <section class="my-1">
              {h2 ? <H2 heading={h2} /> : null}
              {en_grouping_info.map((line) => (
                <RuleBodyContent
                  content={line}
                  styles="groupingInfo"
                />
              ))}
              {en.map((line) => (
                <RuleBodyContent content={line} />
              ))}
              {en_verse.map((line) => (
                <RuleBodyContent content={line} 
                styles="verses"/>
              ))}
            </section>
          );
        })
      }
    </article>
  </main>
</Layout>
