---
import { orderBookData } from "../utils";
import { siteName, dateFirstPublished } from "../utils/meta";
import Layout from "../layouts/HomeLayout.astro";
import H2 from "../components/H2.astro";
import LinkedBookIndexList from "../components/LinkedBookIndexList.astro";
import LinkedRuleIndexList from "../components/LinkedRuleIndexList.astro";
import { getAllBookRuleData } from "../utils";
import { schoolBookGroups } from "../data/content";
import type { BookData } from "../data/types";

let data: Data = {};

for (const [schoolKey, schoolBooks] of Object.entries(schoolBookGroups)) {
  await Promise.all(
    schoolBooks.map(async (book) => {
      const bookData = await getAllBookRuleData({ rulePath: book.path });

      if (!bookData.length) return;

      if (!(schoolKey in data)) {
        Object.assign(data, {
          [schoolKey]: [
            {
              data: bookData,
              ...book,
            },
          ],
        });
      } else {
        Object.assign(data, {
          [schoolKey]: [
            ...(data[schoolKey as keyof typeof data] ?? []),
            { data: bookData, ...book },
          ],
        });
      }
    })
  );
}

const orderedData = Object.values(data).map((schoolBookData) =>
  orderBookData(schoolBookData)
);


const dateFormatOptions = {
  year: "numeric",
  month: "long",
  day: "numeric",
} as const;


---
<Layout
  title={siteName}
  prefixedDescription="the Chinese Bhikkhunī Vinayas"
  datePublished={new Date(dateFirstPublished)}
  dateModified={new Date()}
  isIndexPage
>

  <main>
    <h1 class="homeWidth text-3xl border-b-amber-600 shadow-s border-b-2 px-4 py-8 md:text-6xl mb-8 text-amber-900">
      {siteName}
    </h1>
   <div class="wrapper w-100 shadow-lg pb-10">
    <div id="navcards" class="homeWidth grid lg:grid-cols-2 gap-8">
    {
      orderedData.map((bookData) => {
        return (
          <section          
          class="border border-amber-900 px-4 pb-2 bg-stone-50 shadow-lg shadow-amber-900/20 rounded-lg mt-0">
            <H2 class="border-b border-orange-600 pb-2 pl-2">{bookData[0].schoolName}</H2>
            <LinkedBookIndexList bookList={bookData} />
          </section>
        );
      })
    }
    </div>
</div>     
    <div id="LinkedRoleIndexLists" class="inset-shadow-lg inset-shadow-stone-900 bg-gradient-to-b from-orange-100 from-0% via-orange-50 via-1% to-amber-50 to-2% pt-8   shadow-lg border-t-2 border-b-2 border-amber-900 pb-10">
    {
      orderedData.map((bookData) => {
        return <LinkedRuleIndexList bookData={bookData} />;
      })
    }
    </div>
    <div class="wrapper w-100  inset-shadow-lg inset-shadow-amber-900 ">
    <div class="mt-20 homeWidth mt-10 pt-10 px-4 ">
      <p class="text-lg">Translated by Vimalañāṇī Bhikkhunī</p>
      <p class="text-lg">
        Published: {
          new Date(dateFirstPublished).toLocaleDateString(
            "en-GB",
            dateFormatOptions
          )
        }
      </p>
      <p class="text-lg">
        Last updated: {
          new Date().toLocaleDateString("en-GB", dateFormatOptions)
        }
      </p>
    </div>
    </div>
  </main>
</Layout>
