---
import { siteName, orderBookData } from "../utils";
import Layout from "../layouts/Layout.astro";
import H2 from "../components/H2.astro";
import LinkedBookIndexList from "../components/LinkedBookIndexList.astro";
import LinkedRuleIndexList from "../components/LinkedRuleIndexList.astro";
import getAllBookRuleData from "../utils/getAllBookRuleData";
import { schoolBookGroups } from "../data/content";
import type { BookData } from "../data/types";

type Data = Partial<Record<keyof typeof schoolBookGroups, BookData[]>> | null;

let data: Data = {};

for (const [schoolKey, schoolBooks] of Object.entries(schoolBookGroups)) {
  await Promise.all(
    schoolBooks.map(async (book) => {
      const bookData = await getAllBookRuleData({ rulePath: book.path });

      if (!bookData.length) return;

      if (!(schoolKey in data)) {
        Object.assign(data, {
          [schoolKey]: [
            {
              data: bookData,
              ...book,
            },
          ],
        });
      } else {
        Object.assign(data, {
          [schoolKey]: [
            ...(data[schoolKey as keyof typeof data] ?? []),
            { data: bookData, ...book },
          ],
        });
      }
    })
  );
}

const orderedData = Object.values(data).map((schoolBookData) =>
  orderBookData(schoolBookData)
);
---

<Layout
  title={siteName}
  prefixedDescription="the Chinese Bhikkhunī Vinayas"
  isIndexPage
>
  <main>
    <h1 class="text-5xl md:text-6xl mb-8">
      {siteName}
    </h1>

    {
      orderedData.map((bookData) => {
        return (
          <section>
            <H2>{bookData[0].schoolName}</H2>
            <LinkedBookIndexList bookList={bookData} />
          </section>
        );
      })
    }
    <hr />
    {
      orderedData.map((bookData) => {
        return <LinkedRuleIndexList bookData={bookData} />;
      })
    }

    Translations by Vimalañyāṇī Bhikkhunī
  </main>
</Layout>
