---
import { createAnchor, getSchoolPathFilePath } from "../utils";
import Link from "./Link.astro";
import H2 from "./H2.astro";
import H3 from "./H3.astro";
import type { BookData } from "../data/types";

interface Props {
  bookData: BookData[];
}

const { bookData } = Astro.props;

const filteredBookData = bookData.filter((book) => !(book.path.endsWith("pm") || book.path.endsWith("dm") || book.path.endsWith("kd")));
---

   <H2 class="homeWidth sectionTitle pl-2 pb-4 border-b-amber-600 shadow-s border-b-2 ">
  {filteredBookData[0].schoolName}
        </H2> 

<Fragment>
  {
    filteredBookData.map((book) => {
      const { schoolName, bookName, path, data } = book;
      const hasRuleClass = data.some((rule) => rule.rule_class);

      return (
        <section
          id={createAnchor(schoolName + " " + bookName)}
          class="homeWidth mt-4 mb-8 lg:my-11 bg-stone-50 shadow-inner pb-6 rounded-lg border-2 border-orange-200 shadow-xl"
        >
          <H3 class="border-b-2 px-6 pt-8 pb-6 bg-stone-100  shadow-sm">{schoolName + " " + bookName}</H3>
        
          <ul 
          id={createAnchor(schoolName + " " + bookName+ "-list")}
          class="my-4 p-6 text-xl text-stone-800 columns-1 gap-2 sm:columns-4 sm:gap-8 ">
            {data.map((rule) => {
              const { rule_class, rule_no, book } = rule;
              const booktitle = book.split(" ");
              const title = hasRuleClass
                ? `${rule_class} ${rule_no}`
                : `${booktitle[booktitle.length - 1]} ${rule_no}`;

              return (
                <li class="mb-4 pl-2">
                  <Link
                    href={getSchoolPathFilePath(path) + "/" + rule.file}
                    text={title}
                  />
                </li>
              );
            })}
          </ul>
        </section>
      );
    })
  }
</Fragment>
