---
interface Props {
  content: string;
  styles?: string;
}

const { content, styles } = Astro.props;

const h3ExtractionPattern = new RegExp("(^.*?)<h3>(.*?)</h3>(.*)");
const hasNotePattern = new RegExp("<note>");

const [, h3Preceding, h3, h3After] = content.match(h3ExtractionPattern) ?? [];

const hasNote = Boolean(content.match(hasNotePattern));

const contentWithNoteMarkup = content
  .replace(
    /<note>/g,
    '<span tabindex="0" class="inline-block note-wrapper relative text-3xl text-amber-700 ml-1"> <i class="note"><span class="max-w-[900px] py-4 mx-auto" style="display:inherit;">'
  )
  .replace(/<\/note>/g, "</span></i>*</span>");
---

<Fragment>
  {
    hasNote ? (
      <p
        class:list={["hasNote content", styles]}
        set:html={contentWithNoteMarkup}
      />
    ) : h3 ? (
      <Fragment>
        {h3Preceding ? (
          <p class:list={["", styles]}>{h3Preceding}</p>
        ) : null}
        <h3 class:list={["pmRuleTitle", styles]}>{h3}</h3>
        {h3After ? (
          <p class:list={[" ", styles]}>{h3After}</p>
        ) : null}
      </Fragment>
    ) : content ? (
      <p class:list={["content", styles]}>{content}</p>
    ) : null
  }
</Fragment>

<style is:global>
  .note {
    display: none;
  }

  .note-wrapper:hover {
    cursor: pointer;
  }

  .note-wrapper:focus .note,
  .note-wrapper:hover .note {
    display: inline-block;
    position: fixed;
    z-index: 1;
    width: 100%;
    margin-inline: auto;
    bottom: 0;
    left: 0;
    right: 0;
    border-top:1px solid #fcda84;
    background: #fafaf9;
    color: #23262d;
    padding: 0.5rem 0.75rem;
    border-radius: 0rem;
      box-shadow: rgba(0, 0, 0, 0.8) 0px 30px 50px;
    font-weight: bold;
    font-size: 1rem;
  }
</style>
