---
import "@fontsource/source-serif-pro";
import { basePath } from "../utils";
import '../styles/global.css';
import { siteName, descriptionPrefix } from "../utils/meta";
import { ViewTransitions } from "astro:transitions";
interface Props {
  isIndexPage?: boolean;
  title?: string;
  description?: string;
  prefixedDescription?: string;
  datePublished?: Date;
  dateModified?: Date;
}

const { title, description, prefixedDescription, datePublished, dateModified } =
  Astro.props;

const metaTitle = title ?? siteName;
const metaDescription = description
  ? description
  : prefixedDescription
    ? descriptionPrefix + prefixedDescription
    : metaTitle;
const socialImgUrl = `${Astro.site}${basePath.substring(1)}/social.png`;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{metaTitle}</title>
    <meta name="description" content={metaDescription} />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${basePath}/favicon_io/favicon.ico`}
    />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={metaTitle} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:site_name" content={siteName} />
    <meta property="og:image" content={socialImgUrl} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={Astro.site} />
    <meta name="twitter:title" content={metaTitle} />
    <meta name="twitter:description" content={metaDescription} />
    <meta name="twitter:image" content={socialImgUrl} />
    
    {
      datePublished ? (
        <meta itemprop="datePublished" content={datePublished.toISOString()} />
      ) : null
    }
    {
      dateModified ? (
        <meta itemprop="dateModified" content={dateModified.toISOString()} />
      ) : null
    }
    <ViewTransitions />

  </head>
  <body
    class:list={[
      "bg-stone-100 text-neutral-700",
      "",
    ]}
  >
    <slot />
  </body>
</html>
